In [1]:
import pandas as pd
import numpy  as np
import plotly 
import plotly.io as pio
import re

import dash
from dash import Dash, html, dash_table, dcc, callback, Output, Input,  State
from dash.dependencies import Input, Output

from dash.exceptions import PreventUpdate
import plotly.express as px
import pandas as pd
from zipfile import ZipFile

import yfinance as yf
from yahoo_fin import stock_info as si

import os

# Self created packages

# from database import Database

**End State**
1. Dashboard that pulls live from a website once a day using Amazon Web Servies
2. S3 database, Jobs that call once a day, Dashboard full workflow

**Load Data**

In [2]:
def load_data():
	'''
	'''
	with ZipFile('stock-time-series-20050101-to-20171231.zip') as zp:

		# add logic to pull stock name into data key
		data = {}

		for files in zp.namelist():
			name  = files.replace('.csv', '')

			df    = pd.read_csv(zp.open(files))
			data[name] = df

	return data

# data        = load_data()
# default_col = 'AAPL_2006-01-01_to_2018-01-01'

In [3]:
# Scrape the list of S&P 500 companies from Wikipedia
url         = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500_table = pd.read_html(url, header=0)[0]

# Extract the ticker symbols
tickers     = sp500_table['Symbol'].tolist()

# Function to get stock data for multiple companies
def get_multiple_stock_data(tickers, period='1y', interval='1d'):
    data       = {}
    news       = {}
    earnings   = {}
    financials = {}
    for ticker in tickers:
        stock        = yf.Ticker(ticker)
        stock_news   = stock.news
        
        data[ticker] = stock.history(period=period, interval=interval)
        earning      = stock.balance_sheet
        financial    = stock.financials
        data[ticker] = data[ticker].reset_index()
        data[ticker].columns = [col if col != 'Datetime' else 'Date' for col in data[ticker].columns]

        news[ticker]       = stock_news
        earnings[ticker]   = earning
        financials[ticker] = financial
        
    return data, news, earnings, financials


period_options   = ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']

interval_options = ['1m', '2m', '5m', '15m', '30m', '60m', '90m', '1h', '1d', '5d', '1wk', '1mo', '3mo']

period_intervals = {'Day': ('1d', '15m'), 'Month':('1mo', '1d'), 'Year':('1y', '1d'),
                    '5 Years':('5y', '1wk'), 'Max':('max', '1mo')}

data_dictionary  = {}
for key, pair_option in period_intervals.items():
    period_option                    = pair_option[0]
    interval_option                  = pair_option[1]
    data, news, earnings, financials = get_multiple_stock_data(tickers[:20], period = period_option, interval = interval_option)
    data_dictionary[key]    = data

In [4]:
news['MMM']

[{'uuid': 'ebf0348c-6a56-36cb-b403-1df489e74ec4',
  'title': 'Post-it Maker 3M Raises Annual Outlook After Q2 Beat, Stock Soars',
  'publisher': 'Benzinga',
  'link': 'https://finance.yahoo.com/news/post-maker-3m-raises-annual-140021305.html',
  'providerPublishTime': 1722175221,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/BrJck.9IaYIVKYX9VAGgKw--~B/aD00ODA7dz03MjA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/benzinga_79/f60b88f650086c2c3ae6ead0b73cbd5c',
     'width': 720,
     'height': 480,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/a0lg4QclMm2X8SmPW52p7A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/benzinga_79/f60b88f650086c2c3ae6ead0b73cbd5c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': 'e7916db6-4728-3460-ac24-c41be70a8c1f',
  'title': 'Q2 2024 3M Co Earnings Call',
  'publisher': 'Thomson Reuters StreetEvents',
  'link': 'https://finance.yahoo.com/news/q2-2024-3m-co-earnings-085541836.html',
  'providerPublishTime': 1722070541,
  'type': 'STORY',
  'relatedTickers': ['MMM']},
 {'uuid': '9b046448-06ec-3bdd-95c6-29b3fcc1fcfe',
  'title': '3M (MMM) Q2 2024 Earnings Call Transcript',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/9b046448-06ec-3bdd-95c6-29b3fcc1fcfe/3m-%28mmm%29-q2-2024-earnings.html',
  'providerPublishTime': 1722024916,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/AgPxjmk.l0_x4qaFILkqiQ--~B/aD00Mjc7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/motleyfool.com/e48e86dda35543079ee2080fd9208b73',
     'width': 400,
     'height': 427,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/oVP_Q9NIziRyCtD.nB7xKw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/e48e86dda35543079ee2080fd9208b73',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': '18291d4d-af87-3e0e-99b7-cc3b2ba8d08b',
  'title': '3M Soars Most Since 1980 as New CEO Offers Glimpse of Turnaround',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/3m-boosts-profit-forecast-ceo-105728844.html',
  'providerPublishTime': 1722024238,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/SFyfHxaLh2iM5Bvy3QvGYw--~B/aD0xMzg3O3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_markets_842/7bb7b43ca38b67618cdf0cc6a822bf26',
     'width': 2000,
     'height': 1387,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/LnOI8M2oPsD6jau1TA.zMw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/7bb7b43ca38b67618cdf0cc6a822bf26',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': '5bf5f4dd-445f-34de-b11e-20ccbf1aefd0',
  'title': 'Midday movers: NVIDIA, Meta, Microsoft up, diabetes stock slumps',
  'publisher': 'TheStreet',
  'link': 'https://finance.yahoo.com/m/5bf5f4dd-445f-34de-b11e-20ccbf1aefd0/midday-movers%3A-nvidia%2C-meta%2C.html',
  'providerPublishTime': 1722021459,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/oHeY2Y9an2pOYgxAYd.ePQ--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet_881/3e4166c85b823ec9720ff4cd2663b327',
     'width': 1200,
     'height': 800,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/y0H4jCpzu08sQskQtymLyw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet_881/3e4166c85b823ec9720ff4cd2663b327',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['DECK', 'MMM', 'DXCM', '^GSPC']},
 {'uuid': 'b7ea3519-0a05-3ca1-abc3-ad820224826b',
  'title': "Wells Fargo Raises 3M's Price Target to $130 From $110",
  'publisher': 'MT Newswires',
  'link': 'https://finance.yahoo.com/news/wells-fargo-raises-3m-apos-183255098.html',
  'providerPublishTime': 1722018775,
  'type': 'STORY',
  'relatedTickers': ['MMM']},
 {'uuid': 'b60b522f-9326-308b-81da-41d3757b4698',
  'title': 'June PCE inflation print, auto earnings: Morning Brief',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/june-pce-inflation-print-auto-175524087.html',
  'providerPublishTime': 1722016524,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/n23Of9I5fDbDwUoTFjIyfw--~B/aD0yMDYxO3c9MzY2MDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2024-07/364c8d40-4b78-11ef-bf7d-152c4ad9dfaa',
     'width': 3660,
     'height': 2061,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Ktl_Fof.Y6u9PFg7coQsdg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2024-07/364c8d40-4b78-11ef-bf7d-152c4ad9dfaa',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['VKTX',
   'STLA',
   '^IXIC',
   'COUR',
   'BTC-USD',
   'DECK',
   'GM',
   'NSC',
   '^DJI',
   'LLY',
   '^GSPC',
   'DXCM',
   'F',
   'ETH-USD',
   '300750.SZ',
   'MMM',
   'TSLA',
   'NONOF',
   'NVO']},
 {'uuid': '227d6994-e751-3c1b-b1e3-5d7acbbab4a1',
  'title': 'Stocks jump on cool inflation data, 3M pops on earnings: Yahoo Finance',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/stocks-jump-cool-inflation-data-172601686.html',
  'providerPublishTime': 1722014761,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/JROOHNXjo16ZbnG0EpU6Ag--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-09/1af93af0-db18-11e9-bff7-e34690b9be52',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/.Pl07vIrpkJy_AGrKrtjlw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-09/1af93af0-db18-11e9-bff7-e34690b9be52',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['LULU',
   '^GSPC',
   '^IXIC',
   'MMM',
   'BMY',
   'CELG-RT',
   'DXCM',
   '^DJI']}]

In [28]:
data_dictionary['Day']['MMM']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-07-19 09:30:00-04:00,104.750000,104.750000,103.489998,103.535004,286460,0.0,0.0
1,2024-07-19 09:45:00-04:00,103.489998,103.869499,103.129997,103.760002,64481,0.0,0.0
2,2024-07-19 10:00:00-04:00,103.760002,104.440002,103.720001,104.014999,92685,0.0,0.0
3,2024-07-19 10:15:00-04:00,103.980003,104.084999,103.470100,103.510002,57169,0.0,0.0
4,2024-07-19 10:30:00-04:00,103.500000,104.379997,103.459999,104.330002,103153,0.0,0.0
5,2024-07-19 10:45:00-04:00,104.320000,104.467499,103.695000,103.930000,76515,0.0,0.0
6,2024-07-19 11:00:00-04:00,103.930000,104.105003,103.709999,103.714996,91709,0.0,0.0
7,2024-07-19 11:15:00-04:00,103.750000,104.214996,103.730003,103.754997,68856,0.0,0.0
8,2024-07-19 11:30:00-04:00,103.760002,103.980003,103.676903,103.800003,61019,0.0,0.0
9,2024-07-19 11:45:00-04:00,103.800003,104.250000,103.760002,104.230003,59713,0.0,0.0
10,2024-07-19 12:00:00-04:00,104.230003,104.500000,104.175003,104.500000,54722,0.0,0.0
11,2024-07-19 12:15:00-04:00,104.529999,104.660004,104.370003,104.400002,55717,0.0,0.0
12,2024-07-19 12:30:00-04:00,104.410004,104.489998,104.324997,104.430000,71677,0.0,0.0
13,2024-07-19 12:45:00-04:00,104.449997,104.480003,104.269897,104.290001,48520,0.0,0.0
14,2024-07-19 13:00:00-04:00,104.309998,104.459999,104.239998,104.400002,48653,0.0,0.0
15,2024-07-19 13:15:00-04:00,104.415001,104.415001,104.035004,104.099998,82546,0.0,0.0
16,2024-07-19 13:30:00-04:00,104.089996,104.089996,103.809998,103.898201,46066,0.0,0.0
17,2024-07-19 13:45:00-04:00,103.919998,104.300003,103.910004,104.260002,39201,0.0,0.0
18,2024-07-19 14:00:00-04:00,104.239998,104.239998,103.919998,104.029999,48060,0.0,0.0
19,2024-07-19 14:15:00-04:00,104.050003,104.209999,103.995003,104.000000,44918,0.0,0.0
20,2024-07-19 14:30:00-04:00,104.004997,104.099998,103.955002,103.989998,40823,0.0,0.0
21,2024-07-19 14:45:00-04:00,103.980003,104.099998,103.889999,103.919998,52570,0.0,0.0
22,2024-07-19 15:00:00-04:00,103.934998,104.320000,103.934998,104.269997,72124,0.0,0.0
23,2024-07-19 15:15:00-04:00,104.260002,104.379997,104.139999,104.169998,71138,0.0,0.0
24,2024-07-19 15:30:00-04:00,104.180000,104.199997,104.029999,104.080002,111317,0.0,0.0
25,2024-07-19 15:45:00-04:00,104.099998,104.150002,103.790001,103.919998,492894,0.0,0.0

In [29]:
counter = 0 
for key in news.keys():
	news[key] = pd.DataFrame(news[key])
	news[key] = news[key].drop(columns = ['thumbnail', 'uuid'])
	if counter > 2:
		break
	
	counter += 1

In [41]:
news['MMM']

,title,publisher,link,providerPublishTime,type,relatedTickers
0,Is 3M a Millionaire Maker?,Motley Fool,https://finance.yahoo.com/m/dd617720-d961-3c66...,1721462580,STORY,[MMM]
1,3M (MMM) Expected to Beat Earnings Estimates: ...,Zacks,https://finance.yahoo.com/news/3m-mmm-expected...,1721397619,STORY,"[HON, MMM]"
2,GE Aerospace (GE) to Report Q2 Earnings: What ...,Zacks,https://finance.yahoo.com/news/ge-aerospace-ge...,1721396940,STORY,[MMM]
3,3M (MMM) Rises 13.4% in 3 Months: How Should Y...,Zacks,https://finance.yahoo.com/news/3m-mmm-rises-13...,1721312700,STORY,[MMM]
4,3M (MMM) Ascends While Market Falls: Some Fact...,Zacks,https://finance.yahoo.com/news/3m-mmm-ascends-...,1721252720,STORY,[MMM]
5,3M invests in green hydrogen leader Ohmium in ...,PR Newswire,https://finance.yahoo.com/news/3m-invests-gree...,1721142000,STORY,[MMM]
6,Three US Stocks Estimated To Be Trading Below ...,Simply Wall St.,https://finance.yahoo.com/news/three-us-stocks...,1720782216,STORY,"[MMM, LAAOF, LI, BMRN]"
7,The 3 Most Undervalued Dow Stocks to Buy in Ju...,InvestorPlace,https://finance.yahoo.com/news/3-most-underval...,1720717200,STORY,"[^DJI, MMM]"

In [43]:
financials['MMM'].transpose().reset_index()

,index,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,...,Operating Expense,Research And Development,Selling General And Administration,General And Administrative Expense,Other Gand A,Salaries And Wages,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
0,2023-12-31,10008000.0,0.278,-6795000000.0,36000000.0,36000000.0,-6995000000.0,1987000000.0,18477000000.0,-6759000000.0,...,23239000000.0,1842000000.0,21397000000.0,21397000000.0,21526000000.0,-129000000.0,14204000000.0,18477000000.0,32681000000.0,32681000000.0
1,2022-12-31,235488000.0,0.096,6232000000.0,2453000000.0,2453000000.0,5777000000.0,1831000000.0,19232000000.0,8685000000.0,...,10663000000.0,1862000000.0,8801000000.0,8801000000.0,9049000000.0,-248000000.0,14997000000.0,19232000000.0,34229000000.0,34229000000.0
2,2021-12-31,0.0,0.178,9607000000.0,0.0,0.0,5921000000.0,1915000000.0,18795000000.0,9607000000.0,...,8894000000.0,1994000000.0,6900000000.0,6900000000.0,7197000000.0,-297000000.0,16560000000.0,18795000000.0,35355000000.0,35355000000.0
3,2020-12-31,76633000.0,0.197,8846000000.0,389000000.0,389000000.0,5449000000.0,1911000000.0,16605000000.0,9235000000.0,...,8673000000.0,1878000000.0,6795000000.0,6795000000.0,6929000000.0,-134000000.0,15579000000.0,16605000000.0,32184000000.0,32184000000.0
4,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
earnings['MMM'].transpose().reset_index().columns

Index(['index', 'Treasury Shares Number', 'Ordinary Shares Number',
       'Share Issued', 'Net Debt', 'Total Debt', 'Tangible Book Value',
       'Invested Capital', 'Working Capital', 'Net Tangible Assets',
       'Capital Lease Obligations', 'Common Stock Equity',
       'Total Capitalization', 'Total Equity Gross Minority Interest',
       'Minority Interest', 'Stockholders Equity',
       'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Treasury Stock', 'Retained Earnings',
       'Additional Paid In Capital', 'Capital Stock', 'Common Stock',
       'Total Liabilities Net Minority Interest',
       'Total Non Current Liabilities Net Minority Interest',
       'Other Non Current Liabilities', 'Employee Benefits',
       'Non Current Pension And Other Postretirement Benefit Plans',
       'Tradeand Other Payables Non Current',
       'Non Current Deferred Liabilities',
       'Non Current Deferred Taxes Liabilities',
       'Long Term Debt And Capital Lease Obligation',
       'Long Term Capital Lease Obligation', 'Long Term Debt',
       'Current Liabilities', 'Other Current Liabilities',
       'Current Deferred Liabilities', 'Current Deferred Revenue',
       'Current Debt And Capital Lease Obligation',
       'Current Capital Lease Obligation', 'Current Debt',
       'Other Current Borrowings', 'Line Of Credit', 'Commercial Paper',
       'Pensionand Other Post Retirement Benefit Plans Current',
       'Payables And Accrued Expenses', 'Current Accrued Expenses', 'Payables',
       'Total Tax Payable', 'Income Tax Payable', 'Accounts Payable',
       'Total Assets', 'Total Non Current Assets', 'Other Non Current Assets',
       'Defined Pension Benefit', 'Non Current Deferred Assets',
       'Non Current Deferred Taxes Assets', 'Non Current Accounts Receivable',
       'Investments And Advances', 'Investmentin Financial Assets',
       'Long Term Equity Investment', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE',
       'Accumulated Depreciation', 'Gross PPE', 'Construction In Progress',
       'Other Properties', 'Machinery Furniture Equipment',
       'Buildings And Improvements', 'Land And Improvements', 'Properties',
       'Current Assets', 'Other Current Assets', 'Hedging Assets Current',
       'Restricted Cash', 'Prepaid Assets', 'Inventory', 'Finished Goods',
       'Work In Process', 'Raw Materials', 'Receivables', 'Other Receivables',
       'Accounts Receivable', 'Allowance For Doubtful Accounts Receivable',
       'Gross Accounts Receivable',
       'Cash Cash Equivalents And Short Term Investments',
       'Other Short Term Investments', 'Cash And Cash Equivalents'],
      dtype='object')

In [60]:
type(earnings['MMM'].transpose()[col].iloc[0])

float

In [61]:
for col in earnings['MMM'].transpose().columns:
	print(type(earnings['MMM'].transpose()[col].iloc[0]))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [45]:
dummy = earnings['MMM'].transpose().reset_index()
dummy.columns = [col if col!= 'index' else 'Date' for col in dummy.columns ]
dummy

,Date,Treasury Shares Number,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,...,Work In Process,Raw Materials,Receivables,Other Receivables,Accounts Receivable,Allowance For Doubtful Accounts Receivable,Gross Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents
0,2023-12-31,391451920.0,552581136.0,944033056.0,10102000000.0,16854000000.0,-12346000000.0,20842000000.0,1082000000.0,-12346000000.0,...,1424000000.0,1105000000.0,4864000000.0,114000000.0,4750000000.0,-141000000.0,4891000000.0,5986000000.0,53000000.0,5933000000.0
1,2022-12-31,394787951.0,549245105.0,944033056.0,12284000000.0,16855000000.0,-2767000000.0,30661000000.0,5165000000.0,-2767000000.0,...,1606000000.0,1269000000.0,4635000000.0,103000000.0,4532000000.0,-174000000.0,4706000000.0,3893000000.0,238000000.0,3655000000.0
2,2021-12-31,372187578.0,571845478.0,944033056.0,12799000000.0,18310000000.0,-3728000000.0,32409000000.0,6368000000.0,-3728000000.0,...,1577000000.0,1212000000.0,4770000000.0,110000000.0,4660000000.0,-189000000.0,4849000000.0,4765000000.0,201000000.0,4564000000.0
3,2020-12-31,366283418.0,577749638.0,944033056.0,14161000000.0,19753000000.0,-6770000000.0,31662000000.0,7034000000.0,-6770000000.0,...,1226000000.0,932000000.0,4830000000.0,125000000.0,4705000000.0,-233000000.0,4938000000.0,5038000000.0,404000000.0,4634000000.0
4,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
news[key]

,title,publisher,link,providerPublishTime,type,relatedTickers
0,What To Expect in the Markets This Week,Investopedia,https://finance.yahoo.com/m/86aee722-448d-36b8...,1721559600,STORY,"[TSLA, GOOG, ABBV]"
1,AbbVie (ABBV) Rises As Market Takes a Dip: Key...,Zacks,https://finance.yahoo.com/news/abbvie-abbv-ris...,1721425519,STORY,[ABBV]
2,"Tesla, Alphabet, Visa earnings, June PCE data:...",Yahoo Finance Video,https://finance.yahoo.com/video/tesla-alphabet...,1721424828,VIDEO,"[KO, VZ, STLA, ABBV, V, CMCSA, GOOG, TSLA, IBM..."
3,Boehringer Ingelheim offers Humira biosimilar ...,Pharmaceutical Technology,https://finance.yahoo.com/m/d149db51-5b24-3754...,1721402019,STORY,"[ABBV, GDRX, CVS]"
4,"Pharma Stock Roundup: JNJ, NVS Q2 Earnings, RH...",Zacks,https://finance.yahoo.com/news/pharma-stock-ro...,1721395560,STORY,"[NVS, ABBV, ROG.SW]"
5,Investors in AbbVie (NYSE:ABBV) have seen stro...,Simply Wall St.,https://finance.yahoo.com/news/investors-abbvi...,1721394026,STORY,[ABBV]
6,Earnings Preview: AbbVie (ABBV) Q2 Earnings Ex...,Zacks,https://finance.yahoo.com/news/earnings-previe...,1721311283,STORY,[ABBV]
7,Boehringer cuts price of Humira biosimilar in ...,BioPharma Dive,https://finance.yahoo.com/m/f76fdc97-ca9e-398a...,1721302980,STORY,[ABBV]

In [9]:
news['MMM']

[{'uuid': 'dd617720-d961-3c66-b0be-9988d65f6ca4',
  'title': 'Is 3M a Millionaire Maker?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/dd617720-d961-3c66-b0be-9988d65f6ca4/is-3m-a-millionaire-maker%3F.html',
  'providerPublishTime': 1721462580,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/sXf3kLS2RkF5Pm9JPCCrgA--~B/aD05MzM7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/dae4dd40c7c52f64e3cb535da15506e9',
     'width': 1400,
     'height': 933,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/RNC_yUsR.ehogid43Lsp.Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/dae4dd40c7c52f64e3cb535da15506e9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': 'fedaf7f3-17c4-3a59-90a3-c6715b714af2',
  'title': '3M (MMM) Expected to Beat Earnings Estimates: What to Know Ahead of Q2 Release',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/3m-mmm-expected-beat-earnings-140019860.html',
  'providerPublishTime': 1721397619,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/XFzKRSTb2_xUaLSOCP9.Bg--~B/aD02MDI7dz05MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/a41b81fe729c761f3f94f42ff348f70c',
     'width': 900,
     'height': 602,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/UF5vS9CCA_LIuCo4lg9rzA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/a41b81fe729c761f3f94f42ff348f70c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['HON', 'MMM']},
 {'uuid': '1cbbd8ef-8b5a-3536-84cd-f33d3d1c3536',
  'title': 'GE Aerospace (GE) to Report Q2 Earnings: What to Expect?',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/ge-aerospace-ge-report-q2-134900475.html',
  'providerPublishTime': 1721396940,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/r398vJtFFDOHb5rdOUCmGQ--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/ff346dd52d285665b4a52c89d00c4e50',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/LbEK9sFKIbMl.J24YPxqsg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/ff346dd52d285665b4a52c89d00c4e50',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': 'da7f9da5-ece8-399f-a6c0-ee7df4d419e4',
  'title': '3M (MMM) Rises 13.4% in 3 Months: How Should You Play the Stock?',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/3m-mmm-rises-13-4-142500904.html',
  'providerPublishTime': 1721312700,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/LuqJ.M0lv3PgCi9zLWh7.g--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/16ec952cfd7d1ba98a87b6957f1f19a2',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/PRlFX6UdIyphObF1x7zVEg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/16ec952cfd7d1ba98a87b6957f1f19a2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': '3b59544e-93ce-3acb-a52e-6953a0b65cd2',
  'title': '3M (MMM) Ascends While Market Falls: Some Facts to Note',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/3m-mmm-ascends-while-market-214520772.html',
  'providerPublishTime': 1721252720,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/gUf3JPAiwp3PVjuDKftvaA--~B/aD04NDU7dz05MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/26a86d59f0e8f1e82a35a92ae5684cd9',
     'width': 900,
     'height': 845,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/HpYEBsELOHKKt9_5_oEt0Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/26a86d59f0e8f1e82a35a92ae5684cd9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': 'ac7cb93f-45bc-35ff-8618-94e1d8ce2b66',
  'title': '3M invests in green hydrogen leader Ohmium in continuing effort to advance breakthrough climate technologies',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/3m-invests-green-hydrogen-leader-150000911.html',
  'providerPublishTime': 1721142000,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/G_Jv1a5D584Pwelv9fZq.w--~B/aD0yNTA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/501c67750c8fe6aa93765bf707476fcf',
     'width': 400,
     'height': 250,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/md7YnmELdezxCUKWeKj7EQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/501c67750c8fe6aa93765bf707476fcf',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM']},
 {'uuid': 'd4aa7de8-9b6a-35c2-9663-3e286baf2262',
  'title': 'Three US Stocks Estimated To Be Trading Below Their Intrinsic Values In July 2024',
  'publisher': 'Simply Wall St.',
  'link': 'https://finance.yahoo.com/news/three-us-stocks-estimated-trading-110336745.html',
  'providerPublishTime': 1720782216,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/quebi07.EX4jRg4LNdHS1w--~B/aD00MzI7dz0xMTk0O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/simply_wall_st__316/2df876d5c79edcee5d914115d85637db',
     'width': 1194,
     'height': 432,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/nZTHlX7cOzlHlwkc0oPVoA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/simply_wall_st__316/2df876d5c79edcee5d914115d85637db',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MMM', 'LAAOF', 'LI', 'BMRN']},
 {'uuid': '59e4c6a2-22e9-3329-944f-ac984cc9c5b0',
  'title': 'The 3 Most Undervalued Dow Stocks to Buy in July 2024',
  'publisher': 'InvestorPlace',
  'link': 'https://finance.yahoo.com/news/3-most-undervalued-dow-stocks-170000743.html',
  'providerPublishTime': 1720717200,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/LMtS32CwV2rkZT1ZebiiLw--~B/aD00MDA7dz03Mjg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/investorplace_417/b1777039a2866295c1bd36e1747ff216',
     'width': 728,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ZGRjBulq7quMg6uXZwf75g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/investorplace_417/b1777039a2866295c1bd36e1747ff216',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^DJI', 'MMM']}]

In [4]:
data_dictionary['Day']['MMM']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-07-19 09:30:00-04:00,104.750000,104.750000,103.489998,103.535004,286460,0.0,0.0
1,2024-07-19 09:45:00-04:00,103.489998,103.869499,103.129997,103.760002,64481,0.0,0.0
2,2024-07-19 10:00:00-04:00,103.760002,104.440002,103.720001,104.014999,92685,0.0,0.0
3,2024-07-19 10:15:00-04:00,103.980003,104.084999,103.470100,103.510002,57169,0.0,0.0
4,2024-07-19 10:30:00-04:00,103.500000,104.379997,103.459999,104.330002,103153,0.0,0.0
5,2024-07-19 10:45:00-04:00,104.320000,104.467499,103.695000,103.930000,76515,0.0,0.0
6,2024-07-19 11:00:00-04:00,103.930000,104.105003,103.709999,103.714996,91709,0.0,0.0
7,2024-07-19 11:15:00-04:00,103.750000,104.214996,103.730003,103.754997,68856,0.0,0.0
8,2024-07-19 11:30:00-04:00,103.760002,103.980003,103.676903,103.800003,61019,0.0,0.0
9,2024-07-19 11:45:00-04:00,103.800003,104.250000,103.760002,104.230003,59713,0.0,0.0
10,2024-07-19 12:00:00-04:00,104.230003,104.500000,104.175003,104.500000,54722,0.0,0.0
11,2024-07-19 12:15:00-04:00,104.529999,104.660004,104.370003,104.400002,55717,0.0,0.0
12,2024-07-19 12:30:00-04:00,104.410004,104.489998,104.324997,104.430000,71677,0.0,0.0
13,2024-07-19 12:45:00-04:00,104.449997,104.480003,104.269897,104.290001,48520,0.0,0.0
14,2024-07-19 13:00:00-04:00,104.309998,104.459999,104.239998,104.400002,48653,0.0,0.0
15,2024-07-19 13:15:00-04:00,104.415001,104.415001,104.035004,104.099998,82546,0.0,0.0
16,2024-07-19 13:30:00-04:00,104.089996,104.089996,103.809998,103.898201,46066,0.0,0.0
17,2024-07-19 13:45:00-04:00,103.919998,104.300003,103.910004,104.260002,39201,0.0,0.0
18,2024-07-19 14:00:00-04:00,104.239998,104.239998,103.919998,104.029999,48060,0.0,0.0
19,2024-07-19 14:15:00-04:00,104.050003,104.209999,103.995003,104.000000,44918,0.0,0.0
20,2024-07-19 14:30:00-04:00,104.004997,104.099998,103.955002,103.989998,40823,0.0,0.0
21,2024-07-19 14:45:00-04:00,103.980003,104.099998,103.889999,103.919998,52570,0.0,0.0
22,2024-07-19 15:00:00-04:00,103.934998,104.320000,103.934998,104.269997,72124,0.0,0.0
23,2024-07-19 15:15:00-04:00,104.260002,104.379997,104.139999,104.169998,71138,0.0,0.0
24,2024-07-19 15:30:00-04:00,104.180000,104.199997,104.029999,104.080002,111317,0.0,0.0
25,2024-07-19 15:45:00-04:00,104.099998,104.150002,103.790001,103.919998,492894,0.0,0.0

In [4]:
# db = Database()
# db.insert_stock_prices(data_dictionary['Max'])

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'Date' in 'field list'
[SQL: INSERT INTO lifetime_stocks (`Date`, `Open`, `High`, `Low`, `Close`, `Volume`, `Dividends`, `Stock Splits`) VALUES (%(Date)s, %(Open)s, %(High)s, %(Low)s, %(Close)s, %(Volume)s, %(Dividends)s, %(Stock_Splits)s)]
[parameters: [{'Date': datetime.datetime(1962, 2, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>), 'Open': 0.0, 'High': 0.42587024857359296, 'Low': 0.3948013868809007, 'Close': 0.40465253591537476, 'Volume': 3408123, 'Dividends': 0.0125, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 3, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>), 'Open': 0.0, 'High': 0.4266525172912799, 'Low': 0.3954711309074974, 'Close': 0.42513152956962585, 'Volume': 4081711, 'Dividends': 0.0, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 4, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>), 'Open': 0.0, 'High': 0.42589229775347004, 'Low': 0.38634514808654785, 'Close': 0.38634514808654785, 'Volume': 3496148, 'Dividends': 0.0, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 5, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 0.0, 'High': 0.4190475863576888, 'Low': 0.3057298712455953, 'Close': 0.33462968468666077, 'Volume': 7757734, 'Dividends': 0.0, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 6, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 0.0, 'High': 0.3429953120945184, 'Low': 0.25021169081495803, 'Close': 0.28519558906555176, 'Volume': 13492793, 'Dividends': 0.0, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 7, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 0.0, 'High': 0.31637683540998823, 'Low': 0.28291394466815123, 'Close': 0.3095322251319885, 'Volume': 5671908, 'Dividends': 0.0, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 8, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 0.0, 'High': 0.3399532215107402, 'Low': 0.29280085771269737, 'Close': 0.32854539155960083, 'Volume': 5532216, 'Dividends': 0.0125, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(1962, 9, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 0.0, 'High': 0.33458746835860786, 'Low': 0.2925730984889431, 'Close': 0.29639261960983276, 'Volume': 3716210, 'Dividends': 0.0, 'Stock_Splits': 0.0}  ... displaying 10 of 749 total bound parameter sets ...  {'Date': datetime.datetime(2024, 5, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 97.42337975247803, 'High': 105.30861813287194, 'Low': 94.35469584480703, 'Close': 99.44931030273438, 'Volume': 121987400, 'Dividends': 0.7, 'Stock_Splits': 0.0}, {'Date': datetime.datetime(2024, 6, 1, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>), 'Open': 100.37000274658203, 'High': 100.79000091552734, 'Low': 98.97000122070312, 'Close': 99.76000213623047, 'Volume': 0, 'Dividends': 0.0, 'Stock_Splits': 0.0}]]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [10]:
# db.show_tables(show_rows = True)

(1, 'MMM')
(2, 'AOS')
(3, 'ABT')
(4, 'ABBV')
(5, 'ACN')
(6, 'ADBE')
(7, 'AMD')
(8, 'AES')
(9, 'AFL')
(10, 'A')
(11, 'APD')
(12, 'ABNB')
(13, 'AKAM')
(14, 'ALB')
(15, 'ARE')
(16, 'ALGN')
(17, 'ALLE')
(18, 'LNT')
(19, 'ALL')
(20, 'GOOGL')

In [8]:
def convert_timestamps(df):
    for col in df.columns:
        if pd.api.types.is_datetime64_any_dtype(df[col]):

            df[col] = df[col].dt.strftime('%Y-%m-%d %H:%M')  # Converting to string format

    return df

# for day in data_dictionary:
#     for company in data_dictionary[day]:
#         data_dictionary[day][company] = convert_timestamps(data_dictionary[day][company])

In [6]:
# App(data_dictionary, news, earnings, financials)

In [30]:
pd.DataFrame(news['MMM'])

,uuid,title,publisher,link,providerPublishTime,type,thumbnail,relatedTickers
0,d8da651d-d809-3070-a9df-30a0f2545f20,1 Wall Street Analyst Thinks 3M Stock Is Going...,Motley Fool,https://finance.yahoo.com/m/d8da651d-d809-3070...,1718124054,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[MMM]
1,75062ef6-14ef-3714-917c-92e988925622,How 3M Is Innovating To Address Climate Challe...,ACCESSWIRE,https://finance.yahoo.com/news/3m-innovating-a...,1718108100,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[MMM]
2,94ee34d5-59fb-3d4b-a6bc-fef547c373db,3M (MMM) Stock Slides as Market Rises: Facts t...,Zacks,https://finance.yahoo.com/news/3m-mmm-stock-sl...,1718055917,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[MMM]
3,ef3765c5-c8e5-31f9-a9d9-3aa3a35458af,3M Company (NYSE:MMM) Upgraded by Bank of America,Insider Monkey,https://finance.yahoo.com/news/3m-company-nyse...,1718054453,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[MMM]
4,f6372aeb-89d8-3ee2-b416-d7b30d5090ef,3M Named Official Respiratory Protection Spons...,ACCESSWIRE,https://finance.yahoo.com/news/3m-named-offici...,1718021700,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[MMM]
5,f74760d5-cb90-466e-bb12-b990b908cbd3,Most CEOs are defeating attempts to vote down ...,Yahoo Finance,https://finance.yahoo.com/news/most-ceos-are-d...,1718010250,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[^IXIC, ^GSPC, AZN, AZNCF, BLK, ^DJI, TSLA, MMM]"
6,dd3eb0ff-f3a5-3d1c-aed7-d4e7de500c7b,Industrial moves for the AI boom: Top picks,Yahoo Finance Video,https://finance.yahoo.com/video/industrial-mov...,1717792419,VIDEO,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[NVT, XYL, HTHIF, HTHIY, ETN, MMM]"
7,b5e8e9c0-0f51-3bdd-9a50-256e2b7ff741,Blue-Chip Steals: 3 Top-Tier Stocks Trading at...,InvestorPlace,https://finance.yahoo.com/news/blue-chip-steal...,1717606800,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[ADM, MMM, T]"

In [96]:
class App:
    def __init__(self, data_dict, news, earnings, financials):
        self.app = dash.Dash(__name__)
        self.data_dict = data_dict
        self.news_dict = news
        self.earnings_dict  = earnings
        self.financial_dict = financials
        self.news_cols      = ['title', 'publisher']
        
        self.news     = pd.DataFrame(news[list(earnings.keys())[0]])
        self.data     = data_dict[list(data_dict.keys())[0]]
        self.earnings = earnings[list(earnings.keys())[0]]
        self.financials = financials[list(financials.keys())[0]]
        self.default_col = list(self.data.keys())[0]
        self.periods = list(self.data_dict.keys())

        self.stock_columns = self.data[self.default_col].columns
        self.display_data  = self.data[self.default_col]
        self.companies     = self.get_companies(self.data)
        
        self.company   = self.companies[0]
        self.news = self.convert_type(self.news, ['thumbnail', 'link', 'relatedTickers'])[self.news_cols]
        self.app_layout()
        self.run_server()

    def update_periods(self, data_dict):
        ''' Update the default stock data periods '''
        time_periods = list(self.data_dict.keys())
        if time_periods != self.periods:
            periods = time_periods
        return periods

    def update_period(self, period):
        ''' Update the data to have a different time period '''
        return self.data_dict[period]

    def update_company(self, company):
        self.company = company
        return self.data[company]

    def get_companies(self, data):
        return list(data.keys())
    
    def run_server(self):
        self.app.run_server(debug=True)  

    def convert_type(self, x, col):
        if isinstance(x, list):
            for c in col:
                x[c] = x[c].astype(str)
        else:
            x[col] = x[col].astype(str)
        return x

    def update_news_data(self, company):
        
        self.news  = pd.DataFrame(self.news_dict[company])
        self.news  = self.convert_type(self.news, ['thumbnail', 'link', 'relatedTickers'])[self.news_cols]
        self.news  = self.news.to_dict('records')

        return self.news

    def app_layout(self):
        self.app.layout = html.Div([
            html.Div([
                html.H1('Stock Monitoring Dashboard')
            ], style={'textAlign': 'center'}),

            html.Div([
                html.Div([
                    dcc.Tabs(
                        id='tabs',
                        value='page-1',
                        vertical=True,
                        children=[
                            dcc.Tab(label='Stock History', value='page-1', children = self.render_page_1()),
                            dcc.Tab(label='Model Forecasts', value='page-2', children = self.render_page_2()),
                            dcc.Tab(label='Relevant News', value='page-3', children = self.render_page_3())
                        ],
                        style={
                            'height': '100vh',
                            'borderRight': '1px solid #d6d6d6',
                            'padding': '10px'
                        }
                    )
                ], style={'width': '20%', 'display': 'inline-block', 'verticalAlign': 'top'}),

                html.Div(id='page-content', style={'width': '75%', 'display': 'inline-block', 'padding': '10px'})
            ])
        ])

        # Initialize the layout with the default tab's content
        self.app.layout.children[-1].children[-1].children = self.render_page_1()

        @self.app.callback(Output('page-content', 'children'),
                           [Input('tabs', 'value')])
        
        # Insert some code to make sure page 1 doesn't return to original state
        # Make sure all states stay in the dashboard and transfer between pages. 
        def render_content(tab):
            if tab == 'page-1':
                return self.render_page_1()
            elif tab == 'page-2':
                return self.render_page_2()
            elif tab == 'page-3':
                return self.render_page_3()
            
        # Callback to update the content of the news table on page 3
        @self.app.callback(
            Output('news-table', 'data'),
            [Input('company-dropdown', 'value')],
            [State('tabs', 'value')]  # Include the state of the tabs to check if page 3 is active
        )

        def update_news_table(selected_company, current_tab):
            if current_tab != 'page-3' or not hasattr(self, 'news_initialized'):
                raise PreventUpdate  # Prevents the callback from executing

            return self.update_news_data(selected_company)

        @self.app.callback(
            # Output('news-table', 'data'), 
            Output('interactive-graph', 'figure'),
            [Input('company-dropdown', 'value'),
             Input('data-dropdown', 'value'),
             Input('period', 'value')]
        )
        def update_graph(selected_company, selected_data, period):
            self.data = self.update_period(period)
            display_data = self.update_company(selected_company)
            self.company
            fig = px.line(display_data, x='Date', y=selected_data, title=f'{selected_company} - {selected_data}', template='plotly_dark')
            return fig

    def render_page_1(self):
        return html.Div([
            html.Label('Select Company'),
            dcc.Dropdown(
                id='company-dropdown',
                options=[{'label': company, 'value': company} for company in self.companies],
                value=self.company
            ),
            html.Br(),
            html.Label('Stock Period'),
            dcc.Dropdown(
                id='period',
                options=[{'label': period, 'value': period} for period in self.periods],
                value=self.periods[0]
            ),
            html.Br(),
            html.Label('Select Data'),
            dcc.Dropdown(
                id='data-dropdown',
                options=[
                    {'label': category, 'value': category} for category in self.stock_columns[1:5]
                ],
                value='Close'
            ),
            dcc.Graph(id='interactive-graph')
        ])

    def render_page_2(self):
        return html.Div([
            html.H3('Earnings'),
            dash_table.DataTable(
                id='earnings-table',
                columns=[{'name': i, 'id': i} for i in self.earnings.columns],
                data=self.earnings.to_dict('records'),
                style_table={'overflowX': 'auto'},
                style_cell={'textAlign': 'left'},
                style_header={
                    'backgroundColor': 'rgb(230, 230, 230)',
                    'fontWeight': 'bold'
                },
                style_as_list_view=True,
                style_data={
                    'whiteSpace': 'normal',
                    'height': 'auto',
                    'lineHeight': '15px'
                }
            )
        ])

    def render_page_3(self):

        if not hasattr(self, 'news_initialized'):
            # Initialize or load data for news table
            self.news = self.update_news_data(self.company)
            self.news_initialized = True

        return html.Div([
            html.H3('News'),
            dash_table.DataTable(
                id='news-table',
                columns=[{'name': i, 'id': i} for i in self.news.columns],
                data=self.news.to_dict('records'),
                style_table={'overflowX': 'auto'},
                style_cell={'textAlign': 'left'},
                style_header={
                    'backgroundColor': 'rgb(230, 230, 230)',
                    'fontWeight': 'bold'
                },
                style_as_list_view=True,
                style_data={
                    'whiteSpace': 'normal',
                    'height': 'auto',
                    'lineHeight': '15px'
                }
            )
        ])

In [97]:
if __name__ == '__main__':
    App(data_dictionary, news, earnings, financials)

AttributeError: 'list' object has no attribute 'columns'